// ---------------------------------------------------------------------------
// accounts

section.tw-statistics {
  margin-top: auto;
  
  .tw-select-dates {
    font-size: 20px;
    input {
      width: 100px;
    }
  }
  
  .tw-data {
    width: 100%;
    
    .tw-month {
      
      .tw-overview {
        display: block;
        height: 40px;
        line-height: 40px;
        font-size: 20px;
        
        .tw-title {
          @include span-columns(12, 24);
          cursor: pointer;
        }
        .tw-val-h {
          @include span-columns(4, 24);
          text-align: right;
          color: green;
        }
        .tw-val-s {
          @include span-columns(4, 24);
          text-align: right;
          color: red;
        }
        .tw-sum {
          @include span-columns(4 omega, 24);
          text-align: right;
        }
      }
    }
  }
  
  .statLogo {
    width: 100%;
    text-align: center;
    line-height: 300px;
    > img {
      margin: 10px;
    }
  }
}