/* for IE9 and Opera so 'linear-gradient' works */
$experimental-support-for-svg: true;

$font-highlight-color: #7AB800;
$font-base-color: #555555;

$font-link-color: #0096F4;
$font-link-hover-color: #4BB2F2;

$box-border-radius: 5px;