@import "compass/reset";
@import "compass";
@import "compass/css3";
@import "compass/css3/pie";
@import "compass/css3/text-shadow";
@import "compass/utilities/sprites/base";
@import "compass/typography/text/ellipsis";

@import "config";

@import "modules/grid";
@import "modules/include_bootstrap";
@import "modules/include_jquery";
@import "modules/fileUpload";

@import "base/base";
@import "sections/accounts";
@import "sections/statistics";


@media screen {
  //@include add-font('Raleway', 'Thin', 100);
}

body {
  background-color: #fff;
  color: $font-base-color;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  height:100%;
}

.tw-headline {
  padding-bottom: 20px;
  display: block;
  h1 {
    font-size: 30px;
    color: $font-highlight-color;
    margin-bottom: 0px;
  }
  .note {
    padding-bottom: 30px;
  }
}

a {
  color: $font-link-color;
  text-decoration: none;
}
a:hover {
  color: $font-link-hover-color;
  text-decoration: none;
}